<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f3">
	<tr>
		<td bgcolor="#363a45" align="center">
			<table class="w660" width="660" border="0" cellspacing="0" cellpadding="0" bgcolor="#363a45">
				<tr>
					<td class="w660" width="660" colspan="3">
						<img class="w660imgempty" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="660" border="0" style="display:block;overflow:hidden"/> 
					</td>
				</tr>
				<tr>
					<td class="wfollowus" width="315">
						<table class="wfollowus" width="315" border="0" cellspacing="0" cellpadding="0" bgcolor="#363a45">
							<tr>
								<td class="wfollowus" width="315" valign="top" align="left">
									<font size="3" face="Arial" color="#ffffff">
										<span style="font-size:23px">{{messages['title_footer']}}</span>
									</font>
								</td>
							</tr>
							<tr>
								<td class="wfollowus" width="315">
									<img src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" class="w660imgempty" height="10" width="315" border="0" style="display:block;overflow:hidden"/> 
								</td>
							</tr>
							<tr>
								<td class="wfollowus" width="315" >
									<table class="wfollowus" width="315" border="0" cellspacing="0" cellpadding="0" bgcolor="#363a45">
										<tr>
											<td class="wpictofooter" width="44">
												<a href="https://www.facebook.com/prestashop" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/facebook.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
											<td class="wspacepicto" width="10">
												<img class="wspacepicto" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="10" border="0" style="display:block;overflow:hidden"/> 
											</td>
											<td class="wpictofooter" width="44">
												<a href="http://twitter.com/prestashop" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/twitter.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
											<td class="wspacepicto" width="10">
												<img class="wspacepicto" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="10" border="0" style="display:block;overflow:hidden"/> 
											</td>
											<td class="wpictofooter" width="44">
												<a href="http://vimeo.com/prestashop" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/vimeo.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
											<td class="wspacepicto" width="10">
												<img class="wspacepicto" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="10" border="0" style="display:block;overflow:hidden"/> 
											</td>
											<td class="wpictofooter" width="44">
												<a href="http://www.youtube.com/user/prestashop" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/youtube.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
											<td class="wspacepicto" width="10">
												<img class="wspacepicto" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="10" border="0" style="display:block;overflow:hidden"/> 
											</td>
											<td class="wpictofooter" width="44">
												<a href="http://www.reddit.com/r/prestashop" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/reddit.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
											<td class="wspacepicto" width="10">
												<img class="wspacepicto" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="10" border="0" style="display:block;overflow:hidden"/> 
											</td>
											<td class="wpictofooter" width="44">
												<a href="http://pinterest.com/prestashop/" target="_blank">
													<img class="wpictofooter" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/pinterest.png" alt="PS" height="41" width="42" border="0" style="display:block;overflow:hidden"/>
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td class="w10" width="20">
						<img src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="10" width="20" border="0" style="display:block;overflow:hidden"/> 
					</td>
					<td class="wclick" width="325" align="left">
						<font size="3" face="Arial" color="#909c9f">
							<span class="wclick" style="font-size:12px;line-height:15px;display:block">
								{{messages['unsubscribe']|raw}}
							</span>
						</font>
					</td>
				</tr>

				{% if nl.language.code == 'fr' %}
					<tr>
						<td class="w660" width="660" colspan="3">
							<img class="w660imgempty" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="660" border="0" style="display:block;overflow:hidden"/> 
						</td>
					</tr>
					<tr>
						<td class="w660" width="660" colspan="3">
							<font size="2" face="Arial" color="#909c9f">
								<span class="law" style="font-size:12px;display:block;text-align:justify">
									Les informations recueillies font l'objet d'un traitement informatique destin&eacute; &agrave; r&eacute;pondre &agrave; votre demande le plus pr&eacute;cis&eacute;ment possible. Les destinataires des donn&eacute;es sont l'&eacute;quipe de PrestaShop SA et ses partenaires. Conform&eacute;ment &agrave; la loi &laquo; informatique et libert&eacute;s &raquo; du 6 janvier 1978 modifi&eacute;e en 2004, vous b&eacute;n&eacute;ficiez d'un droit d'acc&egrave;s et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant &agrave; <a style="color:#ffffff;text-decoration:none;" href="mailto:contact@prestashop.com">contact@prestashop.com</a>. Vous pouvez &eacute;galement, pour des motifs l&eacute;gitimes, vous opposer au traitement des donn&eacute;es vous concernant.
								</span>
							</font>
						</td>
					</tr>
				{% endif %}
				<tr>
					<td class="w660" width="660" colspan="3">
						<img class="w660imgempty" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="20" width="660" border="0" style="display:block;overflow:hidden"/> 
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>