<td class="w400click" width="485" align="left">
	<font size="2" face="Arial" color="#909c9f">
		<span class="w400click" style="font-size:12px;line-height:15px;display:block;">
			<a style="color:#ffffff;text-decoration:none;" href="http://newsletter.prestashop.com/newsletters/{{nl.newsletter.number}}/newsmail_{{nl.language.code}}.html">Click here</a> if this email does not display correctly
		</span>
	</font>
</td>
<td class="w35" width="35">
	<img class="w35" src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" width="35" border="0" style="overflow:hidden"/> 
</td>
<td class="w140" width="140" align="right">
	{% include 'header-languages.html' %}
</td>