<table class="w140" width="140" border="0" cellspacing="0" cellpadding="0">
	<tr>
		{% for i, language in languages %}
			{% if i > 0 %}
				<td class="w20header" width="7">
					<img src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/p.png" alt="PS" height="25" width="7" border="0" style="overflow:hidden"/> 
				</td>
			{% endif %}

			<td class="w30" width="15">
				<a style="text-decoration:none;" title="{{language.name}}" href="http://newsletter.prestashop.com/newsletters/{{nl.newsletter.number}}/newsmail_{{language.img_code}}.html">
					<img align="right"  src="http://newsletter.prestashop.com/newsletters/newsletterV5/img/flag/{{language.img_code}}.png" alt="Espagne" border="0" height="13" width="14" /> 
				</a> 
			</td>
		{% endfor %}
	</tr>
</table>